/* acıklama satırı
dsasd

asdasd
/*class -> .text-red {} */
/* id -> #id-bilgisi{} */

h1, h2, h3, h4{color: #808080;}
h1{font-size: 30px;}
p {font-size: 20px;}
h1 {    color: #282280;}
#first-article  {font-size: 40px;}


.text-red {
    color: red;
}

.fs-14 {
font-size: 14px;
}

.fs-20 {
font-size: 20px;
}

.fs-30 {
font-size: 30px;
}

